.player0 {
	background-color: hsl(36, 80%, 80%)
}
.player1 {
	background-color: hsl(72, 80%, 80%)
}
.player2 {
	background-color: hsl(108, 80%, 80%)
}
.player8 {
	background-color: hsl(144, 80%, 80%)
}
.player4 {
	background-color: hsl(180, 80%, 80%)
}
.player5 {
	background-color: hsl(216, 80%, 80%)
}        
.player7 {
	background-color: hsl(252, 80%, 80%)
} 
.player6 {
	background-color: hsl(288, 80%, 80%)
} 
.player3 {
	background-color: hsl(324, 80%, 80%)
}      